body{
  text-align: center;
 margin-top: 100px;

}
form{
  font-size: 1.5em;
  margin-bottom: 5px;

}
.display{
  font-family: 'Copse', serif;
  margin-right: 370px;
  
}
#sub{
  background-color: #000103;
  background: grey;
  height: 45px;
  width: 400px;
  margin: 8px;
  margin-top: 50px;
  margin-left: 340px;
  font-size: 1em;
  border-radius: 20px;


}
#name{
  background-color: black;
  background: white;
  height: 40px;
  width: 400px;
  margin: 8px;
  margin-left: 340px;
  margin-top: 30px;
  font-size: 1em;
  border-radius: 20px;
  padding-left: 10px;

}
#age{
  background-color: black;
  background: white;
  height: 45px;
  width: 400px;
  margin: 8px;
  margin-top: 12px;
  margin-left: 340px;
  font-size: 1em;
  border-radius: 20px;
  padding-left: 10px;
}

#phn{
  background-color: black;
  background: white;
  height: 45px;
  width: 400px;
  margin: 8px;
  margin-top: 12px;
  margin-left: 340px;
  font-size: 1em;
  border-radius: 20px;
    padding-left: 10px;

}
#Email{
  background-color: black;
  background: white;
  height: 45px;
  width: 400px;
  margin: 8px;
  margin-top: 12px;
  font-size: 1em;
  margin-left: 340px;
  border-radius: 20px;
    padding-left: 10px;

}

.animation{
  margin-left:100px;
}
.art{
  margin: auto;

}
.mb-3{
  margin-right:-450px;
}


.Am:hover,
.Am:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  margin: 20px;
}
.Dh:hover,
.Dh:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.An:hover,
.An:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.Ka:hover,
.Ka:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.art{
  margin: auto;
  margin-top: 150px;
}


.Am:hover,
.Am:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  margin: 20px;
}
.Dh:hover,
.Dh:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.An:hover,
.An:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.Ka:hover,
.Ka:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
::-webkit-input-placeholder{
  color:black;
  opacity: 1;
}
:-ms-input-placeholder{
  color:black;
}
::-moz-placeholder{
  color: black;
}

.picture{
  border-radius: 50%;;
}